img {
    width: 100%;
    height: auto;
}

strong {
    font-weight: bold;
}

.nav-bar {
    display: flex;
    position: fixed;
    height: 55px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid rgb(202, 202, 202);
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}

.logo-container {
    padding-left: 10px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    width: 40%;
    background-color: rgb(185, 185, 185);
    border-radius: 20px;
    padding: 10px;
}

.search {
    width: 90%;
    border: none;
    background: none;
    font-size: 1rem;
    font-weight: bold;
    outline: none;
    text-align: center;
}

.home-logo {
    font-size: 2.3em;
    text-decoration: none;
    color: black;
    margin-left: 8px;
    font-family: "Alfa Slab One", serif;
}

.home-logo span {
    color:rgb(211, 31, 31)
}

.logo-container img {
    width: auto;
    height: 40px;
}

.search-container img {
    width: auto;
    height: 20px;
}

.side-bar {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    background-color: white;
    box-shadow: 0px 10px 5px 1px rgb(0, 0, 0);
    margin-top: 56px;
    font-family: "Alfa Slab One", serif;
    padding-top: 2%;
}

.side-bar h3 {
    margin: 5% 0 0 10%;
}

.main-body {
    padding-top: 50px;
}

.post {
    padding: 20px;
    margin: 5%;
    box-shadow: 0px 0px 5px 5px grey;
    border-radius: 50px;
}

#article h1 {
    line-clamp: none;
    -webkit-line-clamp: none;
}

.post h1 {
    display: -webkit-box;
    font-family: "Alfa Slab One", serif;
    text-align: center;
    font-size: 2.5rem;
    margin: 20px 20px 40px 20px;
    overflow: hidden;
    line-clamp: 3;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.post-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.vote-container {
    padding-right: 30px;
}

.numUpvotes {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    font-family: "Alfa Slab One", serif;
}

.uptime {
    text-align: center;
    color: rgb(94, 94, 94);
    padding-top: 10px;
}


.upvote, .downvote {
    background: none;
    border: none;
}

svg {
    fill: grey
}

svg:hover {
    stroke:rgb(211, 31, 31)
}

.post-body {
    margin-right: 20px;
    width: 80%;
}

.post-image {
    margin-bottom: 20px;
    border-radius: 20px;
    border: 3px solid black;
}

.post-body-article {
    display: -webkit-box;
    margin-bottom: 20px;
    padding: 15px 15px 5px 15px;
    font-size: 1.3rem;
    text-align: left;
    word-wrap: break-word;
    line-height: 1.4;
    line-clamp: 3;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical; 
    overflow: hidden;
    border: 5px solid black;
    border-radius: 20px;
}

#article .post-body-article {
    line-clamp: none;
    -webkit-line-clamp: none;
}

.article-interact-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 100px;
}

.vote-container-article {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 3px 3px grey;
    border-radius: 20px;
    padding: 10px;
}

.article-interact-container svg {
    height: 80px;
    width: 80px;
}

table {
    width: 100%;
}

table, th, td {
  border: 1px solid;
  padding: 5px;
}

.post-body a {
    color: blue;
    text-decoration: underline;
}
.spinner-container {
    display: flex;
    justify-content: center;
}

.spinner {
    width: 50px;
    height: auto;
    margin-top: 50px;
    float: center;
}

.article-info {
    padding: 32px;
    box-shadow: 0px 0px 3px 3px grey;
    border-radius: 10px;
    font-size: 1.2rem;
}

.comment {
    line-height: 1.5;
    margin: 2%;
    padding: 2%;
    box-shadow: 0px 0px 3px 3px grey;
    border-radius: 10px;
}

.comment h3 {
    font-size: 1.5rem;
    font-weight: bold;
}

.comment .age {
    color: grey;
}

.comment .body {
    padding: 20px 0 20px 0;
}

.vote-container-comment{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.vote-container-comment svg {
    height: 50px;
    width: 50px;
}

.replies-interact {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 1px;
    font-weight: bold;
}

@media only screen and (min-width: 1000px) {
    .post {
        margin: 50px 20% 5% 20%;
    }

    .search-container {
        width: 25%;
    }
}